
@{
    ViewBag.Title = "Список таблиц";
}

<div class="btn-group-vertical">
    <p>Таблица "Сеанс"</p>
    <p><a class="btn btn-default" href="/seances">Перейти</a></p>
    <p>Таблица "Фильмы"</p>
    <p><a class="btn btn-default" href="/films">Перейти</a></p>
    <p>Таблица "Сотрудник"</p>
    <p><a class="btn btn-default" href="/associates">Перейти</a></p>
    <p>Таблица "Зал"</p>
    <p><a class="btn btn-default" href="/halls">Перейти</a></p>
    <p>Таблица "Билеты"</p>
    <p><a class="btn btn-default" href="/tickets">Перейти</a></p>
    <p>Таблица "Продажа билетов"</p>
    <p><a class="btn btn-default" href="/ticket_selling">Перейти</a></p>
</div>

